{% extends "base.html" %}

{% block chamada %}Lista de pizzas a fazer{% endblock %}

{% block corpo %}

<h2>{{hora}}</h2>

<table border="1">
   <tr><td>#</td><td>Pizza</td></tr>

{% for pizza in lista %}
   <tr>
        <td>{{ forloop.counter }}</td>
        <!-- <td>{{pizza}}</td></tr> -->
        <td>
            <form action="{# url pizza-feita#}" method="POST">
                    {% csrf_token %}
                    <!-- csrf = Cross Site Request Forgery protection -->
                    <input type="hidden" name="pk" value={{"pizza.pk"}}>
                    <input type="submit" name="feita" value="Feita">
            </form>
        </td>
        <td>{{pizza}}</td>                
    </tr>
                                 
{% empty %}
    <tr><th>Nenhuma pizza a fazer</th></tr>
{% endfor %}   
</table>

{% endblock corpo %}
